<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
    <link rel="stylesheet" href="/styles/main.css">
    <% if (page === 'home') { %>
    <link rel="stylesheet" href="/styles/home.css">
    <% } %>
</head>
<body>
    <header class="main-header">
        <nav class="nav-container">
            <div class="logo">
                <img src="/public/images/Quick_logo.png" />
                
            </div>
            <ul class="nav-links">
                <li><a href="/" class="<%= page === 'home' ? 'active' : '' %>">Home</a></li>
                <li><a href="/lineup" class="<%= page === 'lineup' ? 'active' : '' %>">Lineup</a></li>
                <li><a href="/info" class="<%= page === 'info' ? 'active' : '' %>">Info</a></li>
                <li><a href="/contact" class="<%= page === 'contact' ? 'active' : '' %>">Contact</a></li>
                <li><a href="/tickets" class="<%= page === 'tickets' ? 'active' : '' %>">Tickets</a></li>
            </ul>
        </nav>
    </header>
</body>
</html> 